@{
    ViewData["Title"] = "Cotas Dash";
}


<div class="row" id="principal">
    <div class="col-2" id="div-1">
        <p id="link-portais">
            Portais <br/>
            <b><span id="total-portais"><img src="loadingdots.gif" width="50" /></span></b>
        </p>
        <p>Anúncios <br/><b><span id="total-anuncios"><img src="loadingdots.gif" width="50" /></span></b></p>
        <p>Cotas <br/><b><span id="total-cotas"><img src="loadingdots.gif" width="50" /></span></b></p>
        <p id="link-franquias">
            Franquias <br/>
            <b><span id="total-franquias"><img src="loadingdots.gif" width="50" /></span></b>
        </p>
    </div>
    <div class="col-3" id="div-2">
        <div id="div-portais"></div>
        <div id="div-franquias"></div>
    </div>
    <div class="col-7" id="div-3"></div>
</div>

<style>
    #principal div.padd{
        padding: 25px;
    }
    .cota-inativa{
        background-color:#fde5e5;
    }
    #principal p{
        padding: 10px;
    }
    #principal p:hover{
        background-color:lightgreen;
        cursor:pointer;
    }
    .link-cotas-portais:hover{
        background-color:lightgreen;
        cursor:pointer;
        font-weight: bold;
        padding: 10px;
    }
    .link-cotas-portais{
        padding: 10px 0px 10px 0px;
    }
    .selecionado{
        background-color:#80008033;
        font-weight: bold;
        padding: 10px;
    }
    #lista-portais li{
        padding: 5px 0px 5px 0px;
    }

    .cotas{
        overflow: auto;
        overflow-x: hidden;
        height:800px;
    }
    
    .titulo-detalhe-cotas{
        padding: 10px 0px 0px 0px;
        background-color: #e6cce6;
    }
    .titulo-detalhe-cotas h3{
        color:#0a58ca75;
        font-weight:bold;
    }
    .detalhe-cotas{
        padding: 10px;
    }

    #div-portais{
        overflow: auto;
        overflow-x: hidden;
        height:800px;
    }
</style>

@section Scripts
{
    <script>
        
        var anunciosDesatualizados = [];

        $(document).ready(function() {

            $('#link-portais').trigger("click");

            $.get("/Home/ObterResumoCotas", function(dados) {
                $("#total-anuncios").html(dados.totalAnuncios);
                $("#total-cotas").html(dados.totalCotas);
                $("#total-franquias").html(dados.totalFranquias);
                $("#total-portais").html(dados.totalPortais);
                //$("#total-imoveis").html(dados.totalImoveis);

                var cotas = dados.cotas;

                preencherDivFranquias(dados.franquias);

                preencherDivPortais(dados, function() {
                    $('.link-cotas-portais').click(function(e) {
                        e.preventDefault();

                        $('.link-cotas-portais').removeClass('selecionado');
                        $(this).addClass('selecionado');

                        $('.detalhes-cota').hide();

                        var idPortal = $(this).data('portal');
                        var nome = $(this).data('nome');
                        var qtdeCotas = $(this).data('cotas');

                        var div = $('#div-detalhes-cota-' + idPortal);
                        if (div.length > 0) {
                            $(div).slideToggle();
                            //pesquisarDetalheCotas('');
                            return;
                        }

                        var logo = logoPortal(idPortal, 100);
                        var strTitulo = logo != "" ? logo : nome + " - <small>" + qtdeCotas + " cotas</small>";

                        var conteudo =
                            "<div class='row titulo-detalhe-cotas'>" +
                                "<h3 class='padd col-6'>" + strTitulo + "</h3>" +
                                "<div class='col-6'> " +
                                    "<div class='input-group mb-3'>" +
                                        "<div class='input-group-prepend'>" +
                                            "<span class='input-group-text bi-search' id='basic-addon1'></span>" +
                                        "</div>"+
                                        "<input type='text' class='pesquisa form-control' placeholder='Pesquisar por franquia' aria-describedby='basic-addon1'>" +
                                    "</div>" +
                                "</div>" +
                            "</div>";


                        var conteudoCotas = "";
                        var cotas = dados.cotas.filter(_ => _.portal == idPortal);
                        cotas.forEach(function(c) {

                            var classCotaInativa = c.cotaAtiva == false ? " cota-inativa" : "";
                            var spanCotaInativa  = c.cotaAtiva == false ? '<span class="texto-cota-inativa" style="color: red; font-weight: bold; float: right;">Cota inativa</span>' : "";

                            conteudoCotas +=
                                "<div class='row detalhe-cotas" + classCotaInativa + "'>" +
                                    "<div class=col-4>" +
                                        "<b class='nome-franquia' title='Nome da franquia'>" + c.nomeFranquia + "</b>" +
                                        "<br/>" + 
                                        "<div title='(total de produtos) | (produtos desatualizados)'>" + 
                                            nbsp(5 - c.totalProdutos.toString().length) + c.totalProdutos.toString().padStart(6) + " | " +
                                            "<span style='font-weight:bold' id='desatualizados_" + c.idCota + "'>" +
                                                loadingGif("Carregando quantidade de produtos desatualizados...") +
                                            "</span>" + spanCotaInativa +
                                        "</div>" +
                                    "</div>" +
                                    "<div class='col-2' style='text-align:right;padding-top:4px;'>" +
                                        "<button class='btn btn-primary btn-atualizar' data-idcota='" + c.idCota + "'>Atualizar</button>" +
                                    "</div>" +
                                    "<div class='col-6'>" +
                                        "&nbsp;<span id='status_" + c.idCota + "'></span>" +
                                    "</div>" +
                                "</div>" +
                                "<hr style='margin:0px;'/>";
                        });
                        conteudoCotas = "<div class='cotas'>" + conteudoCotas + "</div>";

                        conteudo += conteudoCotas;

                        $('#div-3').append('<div id="div-detalhes-cota-' + idPortal + '" class="detalhes-cota">' + conteudo + '</div>');

                        onClickPesquisa(idPortal);
                        preencherQtdeAnunciosDesatualizados(idPortal, false);
                        onClickAtualizarCota();
                    });
                });
            });

            $('#link-portais').click(function(e) {
                e.preventDefault();
                $('#div-franquias').hide();
                $('#div-portais').slideDown();
                $(this).addClass('selecionado');
            });

            $('#link-franquias').click(function(e) {
                e.preventDefault();
                $('#div-portais').hide();
                $('#div-franquias').slideDown();
            });
        });

        function logoPortal(portal, tamanho){
            if(portal == 68)
                return "<img src='imgs/zap.png' width='"+tamanho+"' style='margin-right:15px'/> "

            return "";
        }

        function nbsp(quantidade) {
            var str = "";
            for (var x = 0; x < quantidade; x++){
                str += "&nbsp;"
            }
            return str;
        }

        function onClickAtualizarCota(){
            $('.btn-atualizar').click(function() {
                var idCota = $(this).data('idcota');

                //Tirar botão e colocar atualizando
                var botaoAtualizar = $(this);
                var spanStatus = $('#status_' + idCota);

                $(botaoAtualizar).prop('disabled', true);
                $(botaoAtualizar).html(loadingGif("Atualizando cota id " + idCota));

                $.get("/Home/AtualizarCota?idCota=" + idCota, function(dado){

                    var dadoJson = JSON.parse(dado);
                    var idJob = dadoJson.idJob;
                    $(spanStatus).html(dadoJson.mensagem + " Id Job: " + linkJob(idJob));

                    const interval = setInterval(obterStatusJob, 5000, idJob, botaoAtualizar, idCota, spanStatus);

                    function obterStatusJob(idJob, botaoAtualizar, idCota, spanStatus){
                        $.get("/Home/ObterStatusJob?idJob=" + idJob, function(retorno) {

                            $(spanStatus).html(retorno+" - Id Job: " + linkJob(idJob));

                            if (retorno == "Succeeded") {
                                $(spanStatus).html("Atualização concluída - IdJob: " + linkJob(idJob));
                                $(botaoAtualizar).prop('disabled', false).html('Atualizar');
                                preencherQtdeAnunciosDesatualizadosPorCota(idCota);
                                clearInterval(interval);
                            }
                        });
                    }
                });
            });
        }

        function linkJob(idJob){
            return "<a href='http://localhost:9951/hangfire/jobs/details/" + idJob + "' target='_blank'>" + idJob + "</a>";
        }

        function onClickPesquisa(idPortal) {
            $('.pesquisa').keyup(function(e) {
                var texto = $(this).val();
                pesquisarDetalheCotas(texto, idPortal);
            });
        }

        function pesquisarDetalheCotas(texto, idPortal) {
            if (texto != undefined && texto != '') {
                $('#div-detalhes-cota-' + idPortal + ' .detalhe-cotas').hide();

                var search = $('#div-detalhes-cota-'+idPortal+' .nome-franquia').filter(function() {
                    return $(this).text().toLowerCase().indexOf(texto.toLowerCase()) >= 0;
                });
                $(search).parent().parent().show();

            } else {
                $('#div-detalhes-cota-'+idPortal+' .detalhe-cotas').show();
            }
        }

        function preencherDivFranquias(franquias) { 
            $('#div-franquias').hide();
            var conteudo = "";
            franquias.forEach(function(p) {
                conteudo += "<li>" + p.nome + " - " + p.qtdeCotas + " cotas</li>";
            });
            $('#div-franquias').html("<ul>" + conteudo + "</ul>");
        }  
        function preencherDivPortais(dados, callback) {
            $('#div-portais').hide();
            var conteudo = "";
            dados.portais.forEach(function(p) {
                conteudo +=
                    "<div class='link-cotas-portais' data-portal=" + p.id + " data-nome='" + p.nome + "' data-cotas='" + p.qtdeCotas + "'>" + 
                        logoPortal(p.id, 40) + p.nome + " - "+ p.qtdeCotas + " cotas" +
                    "</div>";
            });
            $('#div-portais').html("<div id='lista-portais'>" + conteudo + "</div>");
            callback();
        }

        function preencherQtdeAnunciosDesatualizados(idPortal, ignorarCache) {
            $.get("/Home/ObterAnunciosDesatualizados?idPortal=" + idPortal + "&ignorarCache=" + ignorarCache, function(dados) {
                anunciosDesatualizados = dados.anunciosDesatualizados;
                anunciosDesatualizados.forEach(function(dado) {
                    //$('#desatualizados_' + idPortal + '_' + dado.idFranquia).html(dado.qtdeAnunciosDesatualizados);
                    atualizarQtdeAnunciosDesatualizados(dado.idCota, dado.qtdeAnunciosDesatualizados);
                });
            });
        }
        
        function preencherQtdeAnunciosDesatualizadosPorCota(idCota) {

            loadingDesatualizados(idCota);

            $.get("/Home/ObterAnunciosDesatualizadosPorCota?idCota=" + idCota, function(dados) {

                anunciosDesatualizados = anunciosDesatualizados.filter(item => item.idCota !== idCota);
                anunciosDesatualizados.push(dados.anunciosDesatualizados);

                dados.anunciosDesatualizados.forEach(function(dado) {
                    //$('#desatualizados_' + idPortal + '_' + dado.idFranquia).html(dado.qtdeAnunciosDesatualizados);
                    atualizarQtdeAnunciosDesatualizados(idCota, dado.qtdeAnunciosDesatualizados)
                });
                //mostrarQtdeAnunciosDesatualizados(dado.idPortal);
            });
        }

        function atualizarQtdeAnunciosDesatualizados(idCota, quantidade) {

            var html = nbsp(5 - quantidade.toString().length) + quantidade
            $('#desatualizados_' + idCota).html(html);
            $('#desatualizados_' + idCota).css('color', (quantidade == 0 ? "green" : "red"));
        }
        function loadingDesatualizados(idCota){
            $('#desatualizados_' + idCota).html(loadingGif('Atualizando...'));
        }

        function loadingGif(title){
            var titleStr = title != undefined ? " title='" + title + "'": "";
            return '<img src="loadingdots.gif" width="50" '+titleStr+' />';
        }
    </script>
}
