/****** Object:  Table [dbo].[tb_VEIC_x_ATRI_veiculo_atributo]    Script Date: 06/09/2022 16:49:18 ******/

-- DROP TABLE tb_VEIC_x_ATRI_veiculo_atributo
GO
CREATE TABLE [dbo].[tb_VEIC_x_ATRI_veiculo_atributo](
	[VEIC_cd_veiculo] [int] NOT NULL,
	[ATRI_cd_atributo] [int] NOT NULL,
	[VEAT_ds_tag] [varchar](200) NOT NULL,
	[AUDT_cd_usuario_inclusao] [int] NOT NULL,
	[AUDT_dt_inclusao] [datetime] NOT NULL,
	[AUDT_cd_usuario_asslteracao] [int] NULL,
	[AUDT_dt_alteracao] [datetime] NULL,
 CONSTRAINT [PK_tb_VEIC_x_ATRI_veiculo_atributo] PRIMARY KEY CLUSTERED 
(
	[VEIC_cd_veiculo] ASC,
	[ATRI_cd_atributo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tb_VEIC_x_ATRI_veiculo_atributo] ([VEIC_cd_veiculo], [ATRI_cd_atributo], [VEAT_ds_tag], [AUDT_cd_usuario_inclusao], [AUDT_dt_inclusao], [AUDT_cd_usuario_asslteracao], [AUDT_dt_alteracao]) VALUES (38, 1, N'Fitness', 1, CAST(N'2017-09-18T10:12:31.717' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_VEIC_x_ATRI_veiculo_atributo] ([VEIC_cd_veiculo], [ATRI_cd_atributo], [VEAT_ds_tag], [AUDT_cd_usuario_inclusao], [AUDT_dt_inclusao], [AUDT_cd_usuario_asslteracao], [AUDT_dt_alteracao]) VALUES (38, 3, N'Acessoparadeficientes', 1, CAST(N'2017-10-02T10:44:29.863' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_VEIC_x_ATRI_veiculo_atributo] ([VEIC_cd_veiculo], [ATRI_cd_atributo], [VEAT_ds_tag], [AUDT_cd_usuario_inclusao], [AUDT_dt_inclusao], [AUDT_cd_usuario_asslteracao], [AUDT_dt_alteracao]) VALUES (38, 4, N'Adega', 1, CAST(N'2017-10-02T10:44:29.863' AS DateTime), NULL, NULL)
GO
ALTER TABLE [dbo].[tb_VEIC_x_ATRI_veiculo_atributo]  WITH CHECK ADD  CONSTRAINT [FK_tb_VEIC_x_ATRI_veiculo_atributo_tb_ATRI_atributo] FOREIGN KEY([ATRI_cd_atributo])
REFERENCES [dbo].[tb_ATRI_atributo] ([ATRI_cd_atributo])
GO
ALTER TABLE [dbo].[tb_VEIC_x_ATRI_veiculo_atributo] CHECK CONSTRAINT [FK_tb_VEIC_x_ATRI_veiculo_atributo_tb_ATRI_atributo]
GO
