USE Lopes
GO
/****** Object:  Table [dbo].[tb_EMCP_empresa_carga_portal]    Script Date: 06/09/2022 17:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_EMCP_empresa_carga_portal](
	[EMCP_cd_empresa_carga_portal] [int] IDENTITY(1,1) NOT NULL,
	[EMPE_cd_empresalopes] [int] NOT NULL,
	[EMCP_nickname] [varchar](200) NULL,
	[EMCP_domain] [varchar](200) NULL,
 CONSTRAINT [PK_tb_EMCP_empresa_carga_portal] PRIMARY KEY CLUSTERED 
(
	[EMCP_cd_empresa_carga_portal] ASC
))
GO
SET IDENTITY_INSERT [dbo].[tb_EMCP_empresa_carga_portal] ON 

INSERT [dbo].[tb_EMCP_empresa_carga_portal] ([EMCP_cd_empresa_carga_portal], [EMPE_cd_empresalopes], [EMCP_nickname], [EMCP_domain]) VALUES (1, 1, N'higienopolis', N'')
INSERT [dbo].[tb_EMCP_empresa_carga_portal] ([EMCP_cd_empresa_carga_portal], [EMPE_cd_empresalopes], [EMCP_nickname], [EMCP_domain]) VALUES (2, 2, N'uph', N'')
INSERT [dbo].[tb_EMCP_empresa_carga_portal] ([EMCP_cd_empresa_carga_portal], [EMPE_cd_empresalopes], [EMCP_nickname], [EMCP_domain]) VALUES (3, 3, N'upl', N'')
GO
SET IDENTITY_INSERT [dbo].[tb_EMCP_empresa_carga_portal] OFF
GO
ALTER TABLE [dbo].[tb_EMCP_empresa_carga_portal]  WITH CHECK ADD  CONSTRAINT [FK_tb_EMCP_empresa_carga_portal_tb_EMPE_empresalopes] FOREIGN KEY([EMPE_cd_empresalopes])
REFERENCES [dbo].[tb_EMPE_empresalopes] ([EMPE_cd_empresalopes])
GO
ALTER TABLE [dbo].[tb_EMCP_empresa_carga_portal] CHECK CONSTRAINT [FK_tb_EMCP_empresa_carga_portal_tb_EMPE_empresalopes]
GO
